<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Vue Drag Drop Form Builder</title>

      <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="./assets/css/custom.css" />
      <script src="./assets/js/vue-unpkg.js"></script>
      <script src="./assets/js/sortable.min.js"></script>
   </head>
   <body>
      <div id="app" class="small">
         <div class="container-fluid py-4" style="max-width: 1700px">
            <div class="row g-4">
               <div class="col-3">
                  <div class="left-side">
                     <div class="row row-cols-2 mb-3 g-3">
                        <div
                           class="col"
                           v-for="(field, index) in elementFields"
                           :key="index">
                           <div
                              draggable="true"
                              @dragstart="dragStart(field)"
                              class="border bg-light px-2 py-3 text-center text-uppercase small">
                              {{field}}
                           </div>
                        </div>
                     </div>

                     <hr />

                     <div class="field-settings border" v-if="selectedField">
                        <h3
                           class="fs-5 fw-medium m-0 px-3 py-2 bg-light border-bottom">
                           Field Settings
                        </h3>
                        <div class="p-3 d-grid gap-2">
                           <div class="border p-2 pt-1 bg-light">
                              <label class="d-block">
                                 <span>Label</span>
                                 <input
                                    v-model="selectedField.label"
                                    class="form-control form-control-sm shadow-none rounded-0" />
                              </label>
                           </div>
                           <div
                              class="border p-2 pt-1 bg-light"
                              v-if="selectedField.type !== 'hyperlink' && selectedField.type !== 'select'">
                              <label class="d-block">
                                 <span>Placeholder</span>
                                 <input
                                    v-model="selectedField.placeholder"
                                    class="form-control form-control-sm shadow-none rounded-0" />
                              </label>
                           </div>
                           <div
                              class="border p-2 pt-1 bg-light"
                              v-if="selectedField.type === 'select'">
                              <span class="text-primary">Select options</span>
                              <div
                                 class="input-group mb-2 bg-light"
                                 v-for="(opt, idx) in selectedField.value"
                                 :key="idx">
                                 <input
                                    type="text"
                                    class="form-control form-control-sm rounded-0 shadow-none"
                                    v-model="selectedField.value[idx]"
                                    placeholder="username" />
                                 <button
                                    type="button"
                                    class="input-group-text rounded-0 px-2"
                                    id="basic-addon1"
                                    @click="removeOption(idx)">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       height="20px"
                                       viewBox="0 -960 960 960"
                                       width="20px"
                                       fill="#ff0000">
                                       <path
                                          d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
                                    </svg>
                                 </button>
                              </div>
                              <hr />
                              <button
                                 class="btn btn-success btn-sm rounded-0 px-4"
                                 @click="addOption">
                                 Add
                              </button>
                           </div>
                           <div
                              v-if="selectedField.type === 'hyperlink'"
                              class="border p-2 pt-1 bg-light">
                              <label class="d-block">
                                 <span>Link</span>
                                 <input
                                    type="url"
                                    v-model="selectedField.url"
                                    class="form-control form-control-sm shadow-none rounded-0" />
                              </label>
                           </div>
                        </div>
                     </div>

                     <hr />

                     <button
                        class="btn btn-primary rounded-0 px-4"
                        @click="saveToLocalStorage">
                        Save Changes
                     </button>
                  </div>
               </div>
               <div class="col-6 user-select-none">
                  <div
                     class="dropable d-flex gap-3 flex-column"
                     ref="dropZone"
                     @dragover.prevent
                     @drop="onDrop($event)">
                     <div
                        v-for="(field, index) in dropFields"
                        :key="field.uid"
                        class="draggable-item border p-2 bg-light pt-1"
                        :data-id="field.uid"
                        @click="selectField(field)"
                        :class="{ 'active-field': selectedField && selectedField.uid === field.uid }">
                        <div
                           class="d-flex align-items-center justify-content-between bg-light">
                           <label for=""
                              >{{ field.label }} -
                              <span class="small text-body opacity-75"
                                 >[{{ field.type }}]</span
                              ></label
                           >
                           <button
                              class="btn btn-sm rounded-0 text-danger p-1 py-0 pe-0"
                              @click.stop="removeField(index)">
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 height="20px"
                                 viewBox="0 -960 960 960"
                                 width="20px"
                                 fill="#ff0000">
                                 <path
                                    d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
                              </svg>
                           </button>
                        </div>

                        <input
                           type="text"
                           disabled
                           class="form-control rounded-0"
                           :placeholder="field.placeholder" />
                     </div>
                  </div>
               </div>
               <div class="col-3">
                  <div class="border">
                     <h3
                        class="fs-5 fw-medium m-0 px-3 py-2 bg-light border-bottom">
                        Preview
                     </h3>
                     <div class="p-3 d-grid gap-3">
                        <div
                           v-for="(field, index) in dropFields"
                           :key="field.uid"
                           class="border p-2 pt-1">
                           <label :for="'field-' + index" class="mb-1 small"
                              >{{ field.label }}</label
                           >

                           <!-- Text Field -->
                           <input
                              v-if="isInputField && field.type !== 'select' && field.type !== 'hyperlink'"
                              class="form-control form-control-sm rounded-0 shadow-none"
                              :id="'field-' + index"
                              :type="field.type"
                              :placeholder="field.placeholder" />

                           <!-- Select Field -->
                           <select
                              v-if="field.type === 'select'"
                              :id="'field-' + index"
                              class="form-select form-select-sm rounded-0 shadow-none">
                              <option
                                 v-for="(opt, i) in field.value"
                                 :key="i"
                                 :value="opt">
                                 {{ opt }}
                              </option>
                           </select>

                           <a
                              v-if="field.type === 'hyperlink'"
                              :href="field.url"
                              >{{field.label}}</a
                           >
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <script src="./assets/js/form-builder.js"></script>
   </body>
</html>
